[submodule "indra-satellite-protocol"]
	path = system_core/client/public/indra-satellite-protocol
	url = https://github.com/Airhonreality/indra-satellite-protocol.git
[submodule "system_core/client/public/indra-satellite-protocol"]
	path = system_core/client/public/indra-satellite-protocol
	url = https://github.com/Airhonreality/indra-satellite-protocol
